<div *ngIf="showDots">
        <app-control-dots [orientation]="0" [centerAt]="getPointLocation(0)" (resizeTest)="squareResize($event)"></app-control-dots>
        <app-control-dots [orientation]="1" [centerAt]="getPointLocation(1)" (resizeTest)="squareResize($event)"></app-control-dots>
        <app-control-dots [orientation]="2" [centerAt]="getPointLocation(2)" (resizeTest)="squareResize($event)"></app-control-dots>
        <app-control-dots [orientation]="3" [centerAt]="getPointLocation(3)" (resizeTest)="squareResize($event)"></app-control-dots>
    </div> 

<div [ngStyle]="squareStyle()" 
    draggable="true"
    tabindex="0"
    (focus)="onFocus()"
    (dragstart)="triggerDragLift($event)" 
    (dragend)="triggerDragDrop($event)">
</div>